# EmailJS 
REACT_APP_EMAILJS_PUBLIC_KEY=YOUR_PUBLIC_KEY
REACT_APP_EMAILJS_SERVICE_ID=YOUR_SERVICE_ID

# Email Templates
REACT_APP_EMAILJS_TEMPLATE_ID_QUESTIONNAIRE_SUBMISSION=YOUR_QUESTIONNAIRE_TEMPLATE_ID
REACT_APP_EMAILJS_TEMPLATE_ID_CONTACT_FORM=YOUR_CONTACT_FORM_TEMPLATE_ID